/* @tailwind base;
@tailwind components;
@tailwind utilities; */
.color1 {color: #140e1a;}
.color2 {color: #0e3d62;}
.color3 {color: #087bba;}
.color4 {color: #08c8ff;}
.color5 {color: #0ffff8;}


body, html, window {
  /* background-color: rgba(27, 27, 27, 0.973); */
  margin: 0px;
  height: 100vh;
  background-color: var(--bg-main-color)
}



:root {
  --bg-dark-blue: #0e3d62;
  --bg-blue: 087bba;
  --bg-main-color: rgba(32, 32, 32, 0.973);
  --header-height: 50px;
  --size-0: 747px;
} 

a{
  text-decoration: none;
  color: currentColor;
}


#__next{
  margin:0px;
  padding:0px;
  background-color: var(--bg-main-color);
  z-index: 0;
}


/* body{
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 50px 1fr 20px;
  grid-template-areas: 
      'header header'
      ''
      '';
} */

.not-exists-page{
  color: rgb(187, 7, 7);
  font-size: 100px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.not-exists-page > p {
  font-size: 40px;
  color: #087bba;
}

.btn-1 {
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 3px 6px 17px black;
}