/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/*
boa imagem para o  fundo https://external-preview.redd.it/acza-w6EHqHrZVnm3HTOIVKEkl5VOXoXWE6PpK1aoRY.jpg?auto=webp&s=be22b7b3bf755c34933036f7e3b3b6d23ff89fba*/
* {
  font-family: sans-serif;
}
.color1 {color: #140e1a;}
.color2 {color: #0e3d62;}
.color3 {color: #087bba;}
.color4 {color: #08c8ff;}
.color5 {color: #0ffff8;}


body, html, window {
  /* background-color: rgba(27, 27, 27, 0.973); */
  margin: 0px;
  height: 100vh;
  background-color: var(--bg-main-color);
}



:root {
  --bg-dark-blue: #0e3d62;
  --bg-blue: 087bba;
  --bg-main-color: rgba(20, 20, 20, 0.993);
  /* --bg-main-color: rgba(32, 32, 32, 0.973); */
  --header-height: 50px;
  --size-0: 747px;
  /* --bg-url: url(https://external-preview.redd.it/acza-w6EHqHrZVnm3HTOIVKEkl5VOXoXWE6PpK1aoRY.jpg?auto=webp&s=be22b7b3bf755c34933036f7e3b3b6d23ff89fba); */
  --bg-url: url(../imgs/bg-main.webp);
  --bg-url-2: url(../imgs/bg-2.jpg);
  /* --bg-url-2: url(https://www.hdwallpapers.in/download/blue_triangles_shapes_black_background_4k_hd_abstract-HD.jpg); */
} 

a{
  text-decoration: none;
  color: currentColor;
}


#__next{
  margin:0px;
  padding:0px;
  background-color: var(--bg-main-color);
  z-index: 0;
  
}


/* body{
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 50px 1fr 20px;
  grid-template-areas: 
      'header header'
      ''
      '';
} */

.not-exists-page{
  color: rgb(187, 7, 7);
  font-size: 100px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.not-exists-page > p {
  font-size: 40px;
  color: #087bba;
}

.btn-1 {
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 3px 6px 17px black;
}


.btn-1:hover {
  transform: scale(1.05);
}


hr {
  border: 0;
  border-top: 1px solid rgba(219, 219, 219, 0.1);
  width: 94%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 16px;
}


@keyframes up-down {
  0%{
    transform: translateY(0)
  }
  50% {
    transform: translateY(-5px);
  } 
  100%{
    transform: translatey(0);
  }
}


*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #087bba, #0ffff8);
  border-radius: 20px 0px 0px 20px;
  border: none;
}

#loading-full {
  margin: 0;
  width: 40vw;
  height: 40vw;
  border: 40px #0fbbff solid;
  border-top: 40px #0ffff8 solid;
  background-color: var(--bg-main-color);
}

/*imagem de background geral*/
.content, .profile, #view-project-page {
  background-image: var(--bg-url);
  background-size: cover;
  background-position: center left;
  background-attachment: fixed;
}
.profile, #view-project-page{
  background-image: var(--bg-url-2);
}

@media (max-width: 747px) {

  *::-webkit-scrollbar {
      width: 3px;
  }

  *::-webkit-scrollbar-track {
      background: none;
  }

  *::-webkit-scrollbar-thumb {
      background-color: #087bba;
      border-radius: 20px 0px 0px 20px;
      border: none;
  }

  .profile, #view-project-page {
    background-image: none;
  }
}


