:root {
    .color1 {color: #140e1a;}
.color2 {color: #0e3d62;}
.color3 {color: #087bba;}
.color4 {color: #08c8ff;}
.color5 {color: #0ffff8;}
}

.fy-home{
    width: 100%;
    overflow-y: scroll;
    scroll-margin-bottom: 50px;
    /* margin-top: 60px; */
}

#limiter-fy {
    max-width: 1200px;
    margin: auto;
}

.fy{
    /* display: grid; 
    grid-template-columns: repeat(3, 1fr); */
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}


.discovery {
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to top, rgb(8, 104, 214), rgb(2, 231, 14));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    /* width: 101.7%;
    overflow: hidden; */
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;

    /* position: absolute;
    top: calc(var(--header-height));
    left: 50%;
    transform: translateX(-50%); */
}


.project-on-fy {
    background-color: rgba(1, 27, 49, 0.986);
    color: rgb(255, 255, 255);

    border-radius: 15px;
    box-shadow: 9px 9px  #000000;
    border-left: 2px solid #ffffff75;
    border-top: 2px solid #ffffff75;
    backdrop-filter: blur(4px);
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    box-sizing: border-box;
    width: 200px;

    font-size: 14px;
    font-family: monospace;
}

.project-on-fy:hover, .profile-project:hover {
    transform: scale(1.05);
    backdrop-filter: none;
    /* background-color: rgb(56, 56, 56); */
    background-color: rgba(1, 34, 63, 0.986);
}


.project-on-fy > img {
    border-radius: 3px;
    padding: 20px;
    width: 144px;
    height: 131px;
}


.project-on-fy > p {
    font-size: 17px;
}


.likes-user{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.likes-user abbr:hover {
    color: rgb(167, 163, 163);
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.288);
}



#sentinela {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}

#sentinela > img {
    width: 30px;
}

.no-more-projects{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;

}
.no-more-projects > p{
    background-color: gray;
    padding: 5px 9px;
    width: 70px;
    border-radius: 7px;
    box-shadow: 0px 3px 5px 2px black;
}


.hoverScale:hover {
    transform: scale(1.05);
}

@media (max-width: 747px) {
    .fy{
        grid-template-columns: 1fr 1fr;
    }

    .discovery {
        width: 100%;
    }
}