.color1 {color: #140e1a;}
.color2 {color: #0e3d62;}
.color3 {color: #087bba;}
.color4 {color: #08c8ff;}
.color5 {color: #0ffff8;}

.profile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.profile-projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.profile-contact {
    color: white;
    background-color: #087bba;
    padding: 10px 20px 10px 20px;
    width: fit-content;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 14px;
    position: relative;
    font-size: 17px;
}

#contact{
    display: inline;
    width: fit-content;
    background: none;
    border: none;
    color: white;
    box-sizing: content-box;
    margin: 0px 4px 0px 2px;
}

#contact:focus {
    border: none;
    outline: none;
}

#copy {

}

#copy:hover {
    animation: up-down 1s linear infinite;
}

.edit-profile {
    display: flex;
    justify-content: end;
    width: 80%;
}

.edit-profile > button {
    /* background-color: #089c0881; */
    background: linear-gradient(135deg, #03810381, #3ebb3e81);
}




#all-projects {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    color: white;
    margin-top: 150px;
}



.profile-project {
    /* background-color: rgba(7, 155, 240, 0.192); */
    /* color: whitesmoke; */
    /* background-color: #b6b6b6; */
    background-color: #011318;
    color: rgb(255, 255, 255);
    
    box-shadow: 4px 9px 7px black;
    border-radius: 7px;
    padding: 20px 6px;
    width: 130px/*clamp(20vw, 12.375vw, 8.75vw)*/;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:10px;
    cursor: pointer;
}

.profile-project:hover {
    transform: scale(1.05);
}


.bio {
    margin-bottom: 50px;
    box-shadow: 5px 7px 10px black;
}

#profile-image {
    width: 120px/*15vw*/;
    height: 100px/*12.5vw*/;
    overflow: hidden;
    border: solid withe 3px;
}

.profile-project-name {
    width: 100%;
    text-align: center;
    margin: 10px 0px 17px 0;
}



#profile-project-likes{ 
    width: 100%;
    float: left;
}

/*MY PROFILE*/

#logout {
    position: absolute;
    right: 30px;
    top: 15px;
    color: rgb(207, 38, 38) !important;
    cursor: pointer;
}

#logout:hover {
    transform: scale(1.1);
    color: rgb(238, 39, 39) !important;
}

