:root{
    --side-menu-size: 20vw;
}

.side-menu {
    /* grid-area: side-menu; */
    background: linear-gradient(to top, rgb(121, 2, 2),  rgb(51, 2, 2), black, black);/*rgb(22, 22, 22);*/
    margin:0px;
    overflow: hidden;
    color: white;
    width:var(--side-menu-size);
}
.footer {
    grid-area: footer;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 8px 8px 0px 8px;
    width: fit-content;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    margin:0px;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 35px;
} 
.footer-div{
    display: flex;
    justify-content: end;
    background-color: rgba(43, 42, 42, 0.973);
}
.content {
    grid-area: content;
    grid-auto-flow: column;
    color: red;
    background-color: var(--bg-main-color);
    display: flex;
}

.default {
    display: grid;
    height: 100vh;
    grid-template-rows: 50px 1fr 40px;
    grid-template-columns:1fr;
    grid-template-areas:
        "header"
        "content"
        "content";
    background-color: rgba(43, 42, 42, 0.973);
} 

.showMenu{
    animation: showMenu 2s forwards;
}
.hiddeMenu {
    animation: hiddeMenu 2s forwards;

}
.default-menu-closed {
    display: grid;
    height: 100vh;
    grid-template-rows: 50px 1fr 40px; 
    grid-template-columns: 20vw 1fr;
    grid-template-areas:
        "header header"
        "content content"
        "content content";
    background-color: var(--bg-main-color);
    /* z-index:-222; */
}

@keyframes showMenu {
    0%{
        width:0px;
        height: 0px;
    }
    40%{
        width:var(--side-menu-size)
    }
    100%{
        height: 100%;
    }
}

@keyframes hiddeMenu {
    0%{
        width:var(--side-menu-size);
        height: 100%;
    }
    80%{
        height:0px
    }
    100%{
        width:0px;
    }
}



@media (max-width: 747px) {
    .side-menu {
        width: 60vw;
        z-index: 4;
    }

    @keyframes hiddeMenu {
        0%{
            width:60vw;
            height: 100%;
        }
        80%{
            height:0px
        }
        100%{
            width:0px;
        }
    }

    @keyframes showMenu {
        0%{
            width:0px;
            height: 0px;
        }
        40%{
            width:60vw
        }
        100%{
            height: 100%;
        }
    }
    
}

.hidde-always-menu {
    display: none;
}



/* .default {
    display: grid;
    height: 100vh;
    grid-template-rows: 50px 1fr 40px;
    grid-template-columns: 20vw 1fr;
    grid-template-areas:
        "header header"
        "side-menu content"
        "side-menu footer";
    background-color: rgba(43, 42, 42, 0.973);
} 

.showMenu{
    animation: showMenu 2s forwards;
}
.hiddeMenu {
    animation: hiddeMenu 2s forwards;
    /* background-color: rgba(43, 42, 42, 0.973); */

/*
.default-menu-closed {
    display: grid;
    height: 100vh;
    grid-template-rows: 50px 1fr 40px; 
    grid-template-columns: 20vw 1fr;
    grid-template-areas:
        "header header"
        "content content"
        "footer footer";
    background-color: var(--bg-main-color);
    /* z-index:-222; */
/*}

@keyframes showMenu {
    0%{
        width:0px;
        height: 0px;
    }
    40%{
        width:100%
    }
    100%{
        height: 100%;
    }
}

@keyframes hiddeMenu {
    0%{
        width:100%;
        height: 100%;
    }
    80%{
        height:0px
    }
    100%{
        width:0px;
    }
} */