.header {
    color: linear-gradient(90deg, red, black);
    background-color:  #0e3d62;
    height: 50px;
    width:100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    grid-area: header;
    box-shadow: 0px 2px 7px black;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    font-style: oblique;
}

.header > header:hover {
    transform: scale(1.05);
}

header h1 {
    padding: 0 6px;
}

#cogs {
    margin-left: 17px;
}

.header2 {
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 7px 1px black;
}

.text {
    /* background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise); */
    background-image: linear-gradient(to top, rgb(170, 0, 0), rgb(231, 105, 2), rgb(248, 244, 3));
    background-clip: text;
    -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */
    -webkit-text-fill-color: transparent;
    color: black;
    text-shadow: 1px 1px 6px rgb(0, 0, 0, 0.2);
}

.header>i, .header > a {
    margin: 0px 30px;
}

.config-img, .arrow {
    color: red;
    height: 18px;
}

#only-h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.down{
    animation: to-down 0.8s forwards;
}
.left {
    animation: to-left 0.8s forwards;
}



#cogs:hover {
    animation: spin-cogs 1s forwards;
}


@keyframes to-left{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
    }
}

@keyframes to-down {
    0%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(-0deg);
    }
}


@keyframes spin-cogs {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}


.login-guest {
    position: fixed;
    text-align: center;
    right: -5vw;
    color: white;
    font-size: 32px;
    background-color: rgba(128, 128, 128, 0.541);
    /* width: 17vw; */
    max-height: 50px;
    padding: 10px 20px;
    opacity: 30%;
    padding: 5px;
    border-radius: 5px;
}

.login-guest:hover {
    opacity: 100%;
}

@media (max-width: 590px) {
    .login-guest {
        font-size: medium;
    }
}


@media (min-width: 550px) {
    .login-guest {
        right: 1vw;
    }
}


.color1 {color: #140e1a;}
.color2 {color: #0e3d62;}
.color3 {color: #087bba;}
.color4 {color: #08c8ff;}
.color5 {color: #0ffff8;}